.container {
  width: 100%;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}
.container img {
  width: 500px;
  height: 384px;
  border-radius: 0.5rem;
}
.description {
  width: 500px;
}
.description h2 {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 10px;
  color: var(--text-color-light);
}
.description h3 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: rgb(199, 201, 209);
  margin-bottom: 10px;
}
.description h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--text-color-light);
  margin-bottom: 1.5rem;
}
.description h5 {
  letter-spacing: 0.05em;
  font-weight: 500;
  color: var(--text-color-light);
  margin-bottom: 5px;
}
.description p {
  line-height: 2rem;
  color: var(--text-color-light);
  margin-bottom: 20px;
}
.colors {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  gap: 7px;
}
.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  &:active {
    border: 1px solid black;
  }
}
.selects {
  flex-direction: column;
  display: flex;
}
