.container {
  width: 100%;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}
.main_title {
  width: 500px;
}
.main_title h3 {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.5px;
  font-weight: 700;
  color: var(--toastify-text-color-light);
}
.main_title p {
  width: 500px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: var(--toastify-text-color-light);
  margin-top: 32px;
  margin-bottom: 50px;
}
.button {
  text-decoration: none;
  padding: 17px;
  border: 1px solid rgb(5, 122, 255);
  background-color: rgb(5, 122, 255);
  color: #dbe1ff;
  border-radius: 8px;
  transition: all 0.5s;
  &:hover {
    background-color: transparent;
    color: var(--toastify-text-color-light);
    border: 1px solid var(--toastify-text-color-light);
  }
}
.main_slider {
  width: 500px;
}
.rounded_box {
  width: 320px;
  height: 416px;
  border-radius: 1rem;
  object-fit: cover;
}

.main_section {
  margin-top: 100px;
  margin-bottom: 70px;
  border-bottom: 1px solid rgb(248, 248, 242);
}
.main_section h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  color: var(--toastify-text-color-light);
}
.wrapper {
  display: flex;
  text-transform: capitalize;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
